<!DOCTYPE html>

<html lang="en" ng-app="registerapp">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="" name="description">
	<meta content="" name="author">

	<title>SB Admin 2 - Bootstrap Admin Theme</title><!-- Bootstrap Core CSS -->
	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"><!-- MetisMenu CSS -->
	<link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet"><!-- Custom CSS -->
	<link href="../dist/css/sb-admin-2.css" rel="stylesheet"><!-- Custom Fonts -->
	<link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="controllers/register.js"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Please Enter Details</h3>
					</div>


					<div class="panel-body" ng-controller="registercontroller">
						<form role="form" name="registration_form" novalidate class="ng-invalid">
							<fieldset>
								<div class="form-group">
									<input autofocus="" class="form-control" name="name" placeholder="User Name" ng-model="newuser.name" type="text" ng-required="true">
								</div>
								<p style="color: red" ng-show="registration_form.name.$invalid && registration_form.name.$touched">User Name is required</p>

								<div class="form-group">
									<input autofocus="" class="form-control" name="email" placeholder="E-mail" ng-model="newuser.email" type="email" ng-required="true">
								</div>
								<p style="color: red"  ng-show="registration_form.email.$error.required && registration_form.email.$touched">Email Id is required</p>
								<p style="color: red" ng-show="!registration_form.email.$error.required && registration_form.email.$error.email && registration_form.email.$touched">Please enter a valid email id</p>

								<div class="form-group">
									<input class = "form-control" name="newPassword" placeholder = "Enter Password" ng-model="newuser.password" type="password" ng-required="true" ng-minlength="4" ng-maxlength="8" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/">
								</div>
								<p style="color: red" ng-show="registration_form.newPassword.$error.required && registration_form.newPassword.$touched">Password is required</p>
								<p style="color: red" ng-show="!registration_form.newPassword.$error.required && (registration_form.newPassword.$error.minlength || registration_form.newPassword.$error.maxlength) && registration_form.newPassword.$touched">Password must be between 4 and 8 characters</p>
								<p style="color: red" ng-show="!registration_form.newPassword.$error.required && !registration_form.newPassword.$error.minlength && !registration_form.newPassword.$error.maxlength && registration_form.newPassword.$error.pattern && registration_form.newPassword.$touched">Must contain one lower & uppercase letter, and one non-alpha character (a number or a symbol.) </p>

								<div class="form-group">
									<input class = "form-control" name="confirmpassword" placeholder = "Confirm Password" ng-model="newuser.confirmpassword" type="password" ng-required="true" ng-change="checkPassword()">
								</div>

								<p style="color: red" ng-show="registration_form.confirmpassword.$error.required && registration_form.confirmpassword.$touched">Please confirm your password</p>
								<p style="color: red" ng-show="!registration_form.confirmpassword.$error.required && registration_form.confirmpassword.$touched && registration_form.confirmpassword.$error.dontMatch && registration_form.newPassword.$touched">Passwords do not match</p>
								
																
								<a class="btn btn-lg btn-success btn-block" ng-disabled="registration_form.$invalid" ng-click="registeruser()">Register and Login</a>
								
								
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script src="../vendor/jquery/jquery.min.js">
	</script> <!-- Bootstrap Core JavaScript -->
	 
	<script src="../vendor/bootstrap/js/bootstrap.min.js">
	</script> <!-- Metis Menu Plugin JavaScript -->
	 
	<script src="../vendor/metisMenu/metisMenu.min.js">
	</script> <!-- Custom Theme JavaScript -->
	 
	<script src="../dist/js/sb-admin-2.js">
	</script>
</body>
</html>